{% extends "base.html" %}
{% block title %}Add Project{% endblock %}
{% block page_title %}Add Project{% endblock %}
{% block content %}
<form method="POST">
<div class="mb-3">
<label>Project Name</label>
<input
name="project_name"
class="form-control"
required>
</div>
<div class="mb-3">
<label>Location</label>
<input
name="location"
class="form-control"
required>
</div>
<div class="mb-3">
<label>Budget</label>
<input
type="number"
name="budget"
class="form-control"
required>
</div>
<button class="btn btn-success">
Save Project
</button>
<a href="/projects"
class="btn btn-secondary">
Cancel
</a>
</form>
{% endblock %}