{% extends "base.html" %}
{% block title %}Edit Supplier{% endblock %}
{% block page_title %}Edit Supplier{% endblock %}
{% block content %}
<form method="POST">
<div class="mb-3">
<label>Supplier Name</label>
<input
name="supplier_name"
class="form-control"
value="{{ supplier[1] }}"
required>
</div>
<div class="mb-3">
<label>Phone</label>
<input
name="phone"
class="form-control"
value="{{ supplier[2] }}"
required>
</div>
<div class="mb-3">
<label>Email</label>
<input
type="email"
name="email"
class="form-control"
value="{{ supplier[3] }}">
</div>
<button class="btn btn-primary">
Update Supplier
</button>
<a href="/suppliers"
class="btn btn-secondary">
Cancel
</a>
</form>
{% endblock %}